		
/***** Custom slideshow settings *****/

    #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      /*background-image: url(/static/images/btns-next-prev.png);*/
      background-repeat: no-repeat;
      display:block;
      width:30px;
      height:30px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      	background-image: url(/static/images/forward.gif);
    
		margin-right:5px;
      /*background-position: -12px 0;*/
    }

    a:hover.slidesjs-next {
    	background-image: url(/static/images/forward.png);
      /*background-position: -12px -18px;*/
    }

    a.slidesjs-previous {
      	background-image: url(/static/images/rewind.gif);
    	/*background-position: 0 0;*/
    }

    a:hover.slidesjs-previous {
      /*background-position: 0 -18px;*/
      background-image: url(/static/images/rewind.png);
    }

    a.slidesjs-play {
      	background-image: url(/static/images/play.gif);
   		width:25px;
      /*background-position: -25px 0;*/
    }

    a:hover.slidesjs-play {
      /*background-position: -25px -18px;*/
      background-image: url(/static/images/play.png);
    }

    a.slidesjs-stop {
      	background-image: url(/static/images/pause.gif);
		width:25px;
      /*background-position: -41px 0;*/
    }

    a:hover.slidesjs-stop {
      /*background-position: -41px -18px;*/
      background-image: url(/static/images/pause.png);
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(/static/images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      /*overflow: hidden*/
    }
