{% extends 'base.html' %}

{% block title %}Visitor Logging Form{% endblock %}
{% block menuitems %}
    {% with 'visitorLog' as menu %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body_block %}
	<div >
		<H2>Announcement Form</H2>
		<form action="" method="post" name="form" class="form-container" role="form" style="max-width: 100%;">
			{% csrf_token %}
			
			<table  >
				<tr>
				    <td width="25%" class="form-title">{{ form.Type.help_text }}</td>
				    <td width="75%" class="form-field">{{ form.Type }}{{ form.Type.errors }}</td>
		    	</tr>
		    	<tr>
				    <td width="25%" class="form-title">{{ form.OutputText.help_text }}</td>
				    <td width="75%" class="form-field">
				    	{{ form.OutputText}} {{ form.OutputText.errors }}
				    	<script>
			                // Replace the <textarea id="editor1"> with a CKEditor
			                // instance, using default configuration.
			                CKEDITOR.replace( 'id_OutputText' );
			            </script>
				    
				    </td>
		    	</tr>
		    	<tr>
				    <td width="25%" class="form-title">{{ form.Comments.help_text }}</td>
				    <td width="75%" class="form-field">{{ form.Comments}} {{ form.Comments.errors }}</td>
		    	</tr>
		  		<tr>
				    <td width="25%" class="form-title">{{ form.CreatedOn.help_text }}</td>
				    <td width="75%" class="form-field">{{ form.CreatedOn}} {{ form.CreatedOn.errors }}</td>
		    	</tr>
		    	<tr>
				    <td width="25%" class="form-title">{{ form.ExpireOn.help_text }}</td>
				    <td width="75%" class="form-field">{{ form.ExpireOn}} {{ form.ExpireOn.errors }}</td>
		    	</tr>
		  		<!--tr>
				    <td width="25%" class="form-title">{{ form.CreatedOn.help_text }}</td>
				    <td width="75%" class="form-field">
					    <div class="container">
						    <div class="row">
						    	{{ form.CreatedOn }} {{ form.CreatedOn.errors }}</td>
					        <script type="text/javascript">
					            $(function () {
					                $('#id_CreatedOn').datetimepicker({
	                					format: 'YYYY-MM-DD HH:MM:SS'
					                });
					            });
					        </script>
						    </div>
					    </div>
					</td>
		    	</tr-->
		    </table>


			<!-- table class="" id="inputTable">
			{{ form.as_table }}
			</table-->
		    
		    <input type="submit" value="Save" />
		    <a onclick="$(this).parent('form').submit();"> <img src="/static/images/check1.png" > </a>
		</form>
	</div>

{% endblock %}