{% extends 'base.html' %}

{% block title %}Login Form{% endblock %}

{% block body_block %}
{% load humanize %}

{% if user.is_authenticated and user.is_staff  %}

	<div  ng-app="appInvestorProfit" ng-controller="appInvestorProfitCtrl" class="table-responsive">
      <!-- button id="footerButton" class="btn btn-success" ng-click="toggleFooter()">Toggle Grid Footer</button>
      <button class="btn btn-success" ng-click="toggleColumnFooter()">Toggle Column Footer</button-->
      <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
    </div>
{% else %}
	<div class="form-title"><h2>Please authenticate as staff first!</h2></div>
{% endif %}
	
{% endblock %}