
<!-- !DOCTYPE html>
<html  >

  <head>
    <meta charset="utf-8" />
    <title>AngularJS fixed header scrollable table directive</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <style>
        .table {
            height: 600px;
        }
        
        .nonHeader th {
          font-weight: normal !important;
        }
    </style>
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//code.angularjs.org/1.2.16/angular.js"></script>
    <script src="/static/js/angu-fixed-header-table.js"></script>
    <script src="/static/js/app.js"></script>
  </head>

 <body -->
{% extends 'base.html' %}

{% block title %}SVCV Project's Investors{% endblock %}

{% block body_block %}
{% if user.is_authenticated and user.is_staff  %}
 
 	<div ng-app="myApp" class="table-responsive" ng-controller="projectInvestorSummarysCtrl" >    
    <table class="CSSTableGenerator table-hover" style="height: 600px !important;" fixed-header>
        <thead>
        	<tr>
               <th ng-repeat="name in colName" ng-class="{'td_100px': $index == 0}" >					
				{% verbatim %}
				  {{ name}} 
				{% endverbatim %}
				</th>
			</tr>
        </thead>
        <tbody>
        	<tr ng-repeat="row in summary">
        	{% verbatim %}
            <td ng-repeat="column in row track by $index"  ng-class="{'td_100px': $index == 0}" > {{ column }}  </td>
            {% endverbatim %}
            </tr>
        </tbody>
        <tfoot >
            <tr >
            <td ng-repeat="val in grandTotalRow track by $index" ng-class="{'td_100px': $index == 0}" >
				{% verbatim %}
				  {{ val}} 
				{% endverbatim %}
            </td>
            </tr>
        </tfoot>
    </table>
    </div>

{% else %}
<div class="form-title"><h2>Please authenticate as staff first!</h2></div>
{% endif %}

{% endblock %}
