{% extends 'base.html' %}

{% block title %}Visitor Logging Form{% endblock %}

{% block body_block %}
	<div style="margin-left: 200px;">
		<H2>Visitor Logging System</H2>
		<form action="" method="post" name="form" class="form">
			{% csrf_token %}
			<table class="" id="inputTable">
			{{ form.as_table }}
			</table>
		    
		    <!-- input type="submit" value="Save" /-->
		    <a onclick="$(this).parent('form').submit();"> <img src="/static/images/check1.png" > </a>
		</form>
	</div>

{% endblock %}