{% extends 'base.html' %}

{% block title %}Visitor Type Form{% endblock %}

{% block body_block %}


	<div style="margin-left: 200px;">
		<H2>Visitor Type</H2>
		<form action="" method="post" name="form" class="basic-grey">
			{% csrf_token %}
			<table class="table1" id="inputTable">
			{{ form.as_table }}
			</table>
		    
		    
		    <!--table class="table1">
		    	<tr>
		    		<td><lable>Type:</lable></td>
		    		<td>{{ form.Type }}</td>
		    	</tr>
		    	<tr>
		    		<td><lable>Description:</lable></td>
		    		<td>{{form.Description}}</td>
		    	</tr>
		    </table-->
		  
		    <!-- input type="submit" value="Save" /-->
		    <a onclick="$(this).parent('form').submit();"> <img src="/static/images/check1.png" > </a>
		</form>
	</div>

{% endblock %}