{% extends 'base.html' %}

{% block title %}Visitor Types{% endblock %}

{% block body_block %}

<div style="margin-left: 200 px;">
	<h2>Visitor Types</h2>
	<a href="/visitorType/add/"><img src="/static/images/add.png" width="24px"> Add New</a>
	<div style="max-width: 80%;">
		<table id="type" class="table1 table-hover " >
		  <thead >
			<th>Type</th>
			<th>Description </th>
		  </thead>
		  {% for type in object_list %}
		  <tr>
			<td>{{ type.Type }} <a href="/visitorType/{{type.Type}}/"><img src="/static/images/edit.png" width="20 px;"> </a></td>
			<td>{{ type.Description }}</td>
		  </tr>
		  {% endfor %}
		</table>
		
	</div>
</div>
{% endblock %}