{% extends 'base.html' %}

{% block title %}Visitor Types{% endblock %}

{% block menuitems %}
    {% with 'adminIndex' as menu %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body_block %}

<div >
	<h2>Visitor Types</h2>
	<a href="/visitorType/add/"><img src="/static/images/add.png" width="24px"> Add New</a>
	<div style="max-width: 100%;">
		<table id="type" class="table table-hover " >
		  <thead >
			<th width="30%">Type</th>
			<th width="30%">Description </th>
			<th width="40%">Comments </th>
		  </thead>
		  {% for type in object_list %}
		  <tr>
			<td><strong>{{ type.Type }} <a href="/visitorType/{{type.Type}}/"><img src="/static/images/edit.png" width="20 px;"> </a></strong></td>
			<td>{{ type.Description }}</td>
			<td>{{ type.Comments }}</td>
		  </tr>
		  {% endfor %}
		</table>
		
	</div>
</div>
{% endblock %}