{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Name       : S. Meng, Lehman Brothers, Inc.  
Version    : 1.0
Released   : 2016-06-12
-->
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Lehman Brothers, Inc.">
    <meta name="author" content="Siming Meng">
	<meta name="keywords" content="Lehman Brothers, Inc." />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>Lehman Brothers, Inc.</title>
	
    <!-- Custom styles for this template -->
	<link href="{% static 'css/navbar.css' %}" rel="stylesheet">
	<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- JQuery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Moments.js minified CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

	<!-- DateTimePicker tool -->    
	<!--link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script-->
	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


    <script src="{% static 'js/admin.js' %}" ></script>

  </head>

  <body  >
    <div class="container">

      <!-- Static navbar -->
      <div   class="navbar navbar-default">
        <div id="header-wrapper" class="container-fluid"  id="header">
          <div id="logo" class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" 
            		data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h1><a href="/" >Lehman Brothers, Inc.</a></h1>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
          </div>
          <!--/.nav-collapse -->
		<div id="navbar" class="navbar-collapse " >
		{% block menuitems %}
	      	<ul class="navbar2 nav navbar-left" id="menu" >
				<li ><a class="{% if menu == 'home' %}active{% endif %}"
						href="/" accesskey="1" title="">Home </a></li>
				<li><a class="{% if menu == 'visitorLog' %}active{% endif %}"
						href="/visitorLog/add" accesskey="2" title="">Visitor Log </a></li>
				
				<li><a class="{% if menu == 'aboutUs' %}active{% endif %}"
						href="/aboutUs/" accesskey="3" title="">About Us</a></li>
				<li><a class="{% if menu == 'contactUs' %}active{% endif %}"
						href="/contactUs/" accesskey="4" title="">Contact Us</a></li>

			</ul>
	        <ul class="nav navbar-nav navbar-right" id="menu" >
	            <li><a class="{% if menu == 'adminIndex' %}active{% endif %}"
						href="/adminView/" accesskey="5" title="">Admin Login</a></li>
	        </ul>
			
		{% endblock %}
		</div>

        </div>

      </div>
      <!-- Page specific content goes here -->
      
	    <div style="margin-left: 100px;">
	        {% block body_block %}{% endblock %}
	    </div>

		<hr/>
		<div id="footer" >
			<p id="footer_CopyRight">&copy; 2013~2016 Lehman Brothers, Inc. All Rights Reserved. </p>
		</div>
		
    </div> 
    
  </body>
</html>