{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : S. Meng, Citigroup Corporation  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130412

-->
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Citigroup Corporation">
    <meta name="author" content="S. Meng">

	<meta name="keywords" content="Citigroup Corporation" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>Citigroup Corporation</title>
	<link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
	<link href='https://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />

    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
	<link href="{% static "css/navbar.css" %}" rel="stylesheet">
	<link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" media="all" />
	
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- JQuery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
	
  </head>

  <body  >

    <div class="container">

      <!-- Static navbar -->
      <div   class="navbar navbar-default">
        <div id="header-wrapper" class="container-fluid"  id="header">
          <div id="logo" class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h1><a href="/" >Citigroup Corp.</a></h1>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
          	<!-- div id="menu" >
				<ul class="nav navbar-nav navbar-right" >
					<li ><a href="/" accesskey="1" title="">Home</a></li>
					<li><a href="/visitorLog/add" accesskey="2" title="">Visitor Log </a></li>
					<li><a href="/aboutUs/" accesskey="3" title="">About Us</a></li>
					<li><a href="/contactUs/" accesskey="4" title="">Contact Us</a></li>
					<li><a href="/adminView/" accesskey="5" title="">Admin Login</a></li>
				</ul>
			</div-->
          </div><!--/.nav-collapse -->
		<div id="navbar" class="navbar-collapse " >
		{% block menuitems %}
	      	<ul class="navbar2 nav navbar-left" id="menu" >
				<li ><a class="{% if menu == 'home' %}active{% endif %}"
						href="/" accesskey="1" title="">Home </a></li>
				<li><a class="{% if menu == 'visitorLog' %}active{% endif %}"
						href="/visitorLog/add" accesskey="2" title="">Visitor Log </a></li>
				
				<li><a class="{% if menu == 'aboutUs' %}active{% endif %}"
						href="/aboutUs/" accesskey="3" title="">About Us</a></li>
				<li><a class="{% if menu == 'contactUs' %}active{% endif %}"
						href="/contactUs/" accesskey="4" title="">Contact Us</a></li>

			</ul>
	        <ul class="nav navbar-nav navbar-right" id="menu" >
	            <li><a class="{% if menu == 'adminIndex' %}active{% endif %}"
						href="/adminView/" accesskey="5" title="">Admin Login</a></li>
	        </ul>
			
			
		{% endblock %}
		</div>

        </div><!--/.container-fluid -->

      </div>
      <!-- Page specific content goes here -->
      
	    <div style="margin-left: 100px;">
	        {% block body_block %}{% endblock %}
	    </div>

		<hr/>
		
		<div id="footer_CopyRight" class="container">
			<p>&copy; 2013~2016 Citigroup Corporation. All Rights Reserved. </p>
		</div>
    </div> <!-- /container -->

    
  </body>
</html>