{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block body_block %}
<div id="wrapper">
	<div id="page-wrapper">
		<div  class="panel panel-default ">
			<div class="panel-heading">
				<h3>About Us</h3>
			</div>
			<div class="panel-body">
				<p>To provide access to real estate as an asset class to a select group of sophisticated, high-net worth clients that deliver significantly high risk 
					adjusted returns, relatives to other asset classes, over an extended period of time.</p>
				<!--p>SVCV 伙伴有限责任公司坐落于美国高科技重镇硅谷中心. 附近的邻居有斯坦福大学,苹果,古狗, 脸书, 雅虎, 思科, 英特儿等等公司. 她为高资产,高收入人士提供当地有关地产投资业务.</p-->

			</div>
		</div>
	</div>
</div>
{% endblock %}