{% extends 'base.html' %}

{% block title %}SVCV Investment Activities{% endblock %}

{% block body_block %}
{% load humanize %}

{% if user.is_authenticated %}
	{% if user.is_staff or user.is_superuser%}
	<div class="table-responsive">
		<h3>Select An Investor to View: </h3>
		
		<form  method="post" action="/activity/" role="form"><span>
			{% csrf_token %}
			<select name="investorId" onchange="javascript: this.form.submit(); " >
			  	<option >---</option>
			  	<option value="ALL">ALL</option>
				{% for userId in allUser_list %}
					{% if   userId.id|add:0 == investorId|add:0 %}
						<option value="{{ userId.id }}" selected="selected">{{ userId.first_name }} {{ userId.last_name }}</option>
					{% else %}
						<option value="{{ userId.id }}">{{ userId.first_name }} {{ userId.last_name }}</option>
					{% endif %}
				{% endfor %}
			</select> 
			<noscript><input type="submit" name="submit" value="View" ></noscript>
		</span></form>
		<hr />
		<h3>Requested Investment Activities for <font color=blue>{{ investorName }}</font>*</h3>
	{% else %}
		<h3>Your Investment Activities*</h3>
	{% endif %}
	
<p>*-Most recent activities may not be included.</p> 
	<table class="CSSTableGenerator table-hover ">
		<tr >
		<td><a href="/activity/Type/">Type</a> </td>
		<td><a href="/activity/Date/">Date</a> </td>
		<td>Status</td>
		<td>Description</td>
		<td>Principal</td>
		<td><strong><font color=green>Distribution</font></strong> </td>
		<td><strong><font color=green>Interest</font></strong> </td>
		<td><strong><font color=green>Dividend</font></strong> </td>
		</tr>
	{% for activity in activities %}
		<tr>
			<td> {{ activity.Type_id }} </td>
			<td> {{ activity.Date }} </td>
			<td>{% if activity.ProjectId.Status.Status == 'Completed' %}
                		<font color="green" > 
                	{% elif activity.ProjectId.Status.Status == 'In Progress' %}
                		<font color="blue" > 
                	{% elif activity.ProjectId.Status.Status == 'Open' %}
                		<font color="Red">
                	{% else  %}
                		<font color="navy">
                	{% endif %}
                	{{ activity.ProjectId.Status.Status }} </font>
			</td>
			<td>{% if activity.ProjectId.Status.Status == 'Completed' %}
					<strike>{{ activity.Memo }}, {{ activity.ProjectId }}</strike> 
				{% else %}
					{{ activity.Memo }}, {{ activity.ProjectId }}
				{% endif %}
			</td>
			<td>
				{% if activity.Type_id  == "Deposit" %}
					 ${{ activity.Amount|intcomma }}
				{% endif %}
			</td>
			<td>
				{% if activity.Type_id == "Check" %}
					 <strong><font color=green>${{activity.Amount|intcomma }}</font></strong>
				{% endif %}
			</td>
			<td>
				{% if activity.Type_id == "Interest" %}
					 <strong><font color=green>${{activity.Amount|intcomma }}</font></strong>
				{% endif %}
			</td>
			<td>
				{% if activity.Type_id == "Dividend" %}
					 <strong><font color=green>${{activity.Amount|intcomma }}</font></strong>
				{% endif %}
			</td>
		</tr>
	{% endfor %}

		<tr>
			<td/>
			<td/>
			<td/>
			<td style="text-align: right;"> <b>Subtotal:</b> </td>
			<td> <font color=red> ${{total_principal|intcomma }} </font></td>
			
		</tr>
		<tr>
			<td/>
			<td/>
			<td/>
			<td style="text-align: right;"> <b>Total Distribution, Interest & Dividend:</b> </td>
			<td/>
			<td><strong> <font color=green> ${{total_distribution|intcomma }} </font></strong></td>
			<td> <font color=green> ${{total_interest|intcomma }} </font></td>
			<td> <font color=green> ${{total_dividend|intcomma }} </font></td>
			
		</tr>
		<tr>
			<td/>
			<td/>
			<td/>
			<td style="text-align: right;">  <b><font color=red size=5> Total Outstanding Principal: ${{total_amount |intcomma }} </font></b></td>
		</tr>
	</table>
	</div>
{% else %}
<h1>Please authenticate first!</h1>
{% endif %}

{% endblock %}