{% extends 'base.html' %}

{% block title %}
    	{%  if form.ProjectName.value == None %}
	        Add a Project
        {% else %}
       		Edit Project-{{form.ProjectName.value}}
        {% endif %}
{% endblock %}

{% block body_block %}
    	{%  if form.ProjectName.value == None %}
	        <h1>Add A Project</h1>
        {% else %}
	        <h1>Edit Project - {{ form.ProjectName.value}}</h1>
        {% endif %}
    	

    	{%  if form.ProjectName.value == None %}
	        <form id="Project_form" method="post" action="/add_project/">
        {% else %}
	        <form id="Project_form" method="post" action="/add_project/{{ form.ProjectId.value }}/">
        {% endif %}
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

			<table>
            {% for field in form.visible_fields %}
	            	<tr>
            	<td width="20%">
                	{{ field.errors }}
                </td>
            	<td width="20%" align="right">
                	{{ field.help_text }}
                </td>
            	<td width="60%">
                	{{ field }}
                </td></tr>
	            {%  if form.ProjectName.value != None and form.ProjectName != field or form.ProjectName.value == None %}
		        {% endif %}

            {% endfor %}
			</table>
			<span align="center">
			   	{%  if form.ProjectName.value == None %}
	            	<input type="submit" name="submit" value="CREATE" />
		        {% else %}
	            	<input type="submit" name="submit" value="UPDATE" />
		        {% endif %}		        
			</span>
        </form>
{% endblock %}