{% extends 'base.html' %}

{% block title %}
    	{%  if form.ProjectName.value == None %}
	        Add a Project
        {% else %}
       		Edit Project-{{form.ProjectName.value}}
        {% endif %}
{% endblock %}

{% block body_block %}
    	

    	{%  if form.ProjectName.value == None %}
	        <form class="form-container" id="Project_form" method="post" action="/add_project/">
        {% else %}
	        <form class="form-container" id="Project_form" method="post" action="/add_project/{{ form.ProjectId.value }}/">
        {% endif %}
	    	{%  if form.ProjectName.value == None %}
		        <div class="form-title"><h2>Add A Project</h2></div>
	        {% else %}
		        <div class="form-title"><h2>Edit Project - {{ form.ProjectName.value}}</h2></div>
	        {% endif %}

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

			<table>
            {% for field in form.visible_fields %}
	          <tr>
            	<td width="20%">
                	{{ field.errors }}
                </td>
            	<td width="20%" class="form-title">
                	{{ field.help_text }}
                </td>
            	<td width="60%" class="form-field">
                	{{ field }}
                </td>
              </tr>
              {%  if form.ProjectName.value != None and form.ProjectName != field or form.ProjectName.value == None %}
	          {% endif %}

            {% endfor %}
			</table>
			<div class="submit-container">
			   	{%  if form.ProjectName.value == None %}
	            	<input class="submit-button" type="submit" name="submit" value="CREATE" />
		        {% else %}
	            	<input class="submit-button"  type="submit" name="submit" value="UPDATE" />
		        {% endif %}		        
			</div>

        </form>
{% endblock %}