{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : SVCV Partners LLC 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130412

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>SVCV Partners LLC</title>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
<link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" media="all" />
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="/">SVCV Partners</a></h1>
			</div>
			<div id="menu">
				<ul>
		            {% if user.is_authenticated %}
		            	{% if user.is_superuser%}
			                <li><a href="#" style="color:green;">Welcome, Superuser {{ user.first_name }}! </a></li>
		                {% elif user.is_staff %}
			                 <li><a href="#" style="color:blue;">Welcome, Staff {{ user.first_name }}! </a> </li>
		                {% else %}
			                <li><a href="#">Welcome, {{ user.first_name }}!</a> </li>
		                {%endif %}
		                <li><a href="/profile/">Profile</a></li>
		                <li><a href="/logout/">Logout</a></li>
		            {% else %}
						<li class="current_page_item"><a href="/" accesskey="1" title="">Home</a></li>
						<li><a href="/" accesskey="2" title="">Projects</a></li>
						<li><a href="/about-us.html" accesskey="3" title="">About Us</a></li>
						<li><a href="/contact-us.html" accesskey="4" title="">Contact Us</a></li>
						<li><a href="/login/" accesskey="5" title="">Member Login</a></li>
		            {% endif %}
				</ul>
			</div>
		</div>
		{% if user.is_authenticated %}
			<div id="menu2">	{% include "top-nav.html" %} 
			</div>
		{% else %}
			<div id="banner">
				<div class="img-border"> <a href="#"><img src="{% static "images/header-img.jpg" %}" width="840" height="300" alt="" /></a> </div>
			</div>
		{% endif %}
	</div>
	{% if user.is_authenticated %}
		<div id="announcement">
			<h2> Announcement</h2>
			<ul >
				<li ><a href="http://2341hilo.com/">2341 Hilo Ct, Mtn View, CA</a> is closing</li>
			</ul>
		</div>
	{% endif %}
	
    <!-- Page specific content goes here -->
    <div>
        {% block body_block %}{% endblock %}
    </div>

<hr/>

<div id="footer_CopyRight" class="container">
	<p>&copy; 2013~2015 SVCV Partners LLC. All Rights Reserved. </p>
</div>
</body>
</html>