<div id="disclaimer">

<h2>Site Usage Agreement | Disclaimer :: Use of this Site constitutes acceptance of Legal Disclaimer</h2>

<p> <strong>LEGAL DISCLAIMER, TERMS OF USE AND LEGAL RESTRICTIONS 
<br/>
ATTENTION: PLEASE READ THESE TERMS CAREFULLY BEFORE USING THIS WEBSITE. USING THIS WEBSITE INDICATES THAT YOU ACCEPT THESE TERMS. 
IF YOU DO NOT ACCEPT THESE TERMS ("TERMS"), DO NOT USE THIS WEBSITE. 
</strong>
</p>

<p>www.SVCVLLC.com is provided for informational purpose only. This Site, www.SVCVLLC.com, is not intended and should not be construed as the accounting or tax advices.  
<br/><br/>
All content and materials are the property of www.SVCVLLC.com. Permission to otherwise reprint or electronically reproduce any page in part or in its entirety 
is expressly prohibited, unless prior written consent has been obtained from SVCV Partners LLC.
<br/><br/>
<strong>Use of Site. SVCV authorizes you to view and download the materials at this Website ("Site") only for your personal, non-commercial use, 
	provided that you retain all copyright and other proprietary notices contained in the original materials on any copies of the materials. 
	You may not modify the materials at this Site in any way or reproduce or publicly display, perform or distribute or otherwise use them for any public or commercial purpose.</strong>
		For purposes of these Terms, any use of these materials on any other Website or networked computer environment for any purpose is prohibited. 
		The materials at this Site are copyrighted and any unauthorized use of any materials at this Site may violate copyright, trademark and other laws. 
		If you breach any of these Terms, your authorization to use this Site automatically terminates and you must immediately destroy any downloaded or printed materials. 
		SVCV also reserves the right to terminate your authorization to use any services at the Site and to delete any one or more of your related accounts, 
		with or without cause, immediately and at any time. 
<br/><br/>
 <strong>Links To Other Websites. </strong>Links to third party Websites on this Site are provided solely as a convenience to you. If you use these links, 
 you will leave this Site. SVCV has reviewed these third party sites, but does not control and is not responsible for any of these sites or their content. 
 Thus, SVCV does not endorse or make any representations about them, or any information found there, or 
 any results that may be obtained from using them. If you decide to access any of the third party sites linked to this Site, you do this entirely at your own risk. 
<br/><br/> 
 <strong>Limitation of Liability. </strong>In no event will SVCV or other third parties mentioned at this Site be liable for any damages whatsoever 
 (including, without limitation, those resulting from lost profits, lost data or business interruption) arising out of the use, inability to use, 
 or the results of use of this Site, any Websites linked to this Site, or the materials or information or services contained at any or all such sites, 
 whether based on warranty, contract, tort or any other legal theory and whether or not advised of the possibility of such damages. If your use of the 
 materials, information or services from this Site results in the need for any repair, you assume all costs thereof. 
 Applicable law may not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you. 
 <br/><br/>
 <strong>Data Accuracy. </strong>SVCV is trying the best to ensure data accuracy. However there might still be delay for latest data. In this scenario, users of this website
 	agree not to hold SVCV accountable for the inaccuracy. 
 <br/><br/>
 <strong>General. </strong>SVCV may revise these Terms at any time by updating this posting. You should visit this page from time to time to review the then-current 
 Terms because they are binding on you. Certain provisions of these Terms may be superseded by expressly designated legal notices or terms located on particular 
 pages at this Site. 
 <br/><br/>
 <strong>Revised December 2015</strong>
</p>

</div>