{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}SVCV Home{% endblock %}

{% block body_block %}
<div id="wrapper"  class="container-fluid">
		<div class="row">
			<div  class="col-sm-3">
				{% include "project-history.html" %}
			</div>
			<div class="col-sm-9">
				<div class="panel panel-default">
					<div class="panel-heading"><h3>Welcome to SVCV Partners</h3></div>
  					<div class="panel-body">
  						
						<p><strong>SVCV Partners</strong>, located in the heart of Silicon Valley, provides access to real estate as an asset class to a select group of sophisticated, high-net worth clients that deliver significantly high risk adjusted returns, relatives to other asset classes, over an extended period of time. </p>
						<p class="button-style"><a href="/about-us.html/">More Details</a></p>
					</div>
				</div>
			{% if user.is_authenticated %}

				<div ng-app="">
					<div ng-include="'/announcement'"></div>
				</div>
			{% endif %}
			  
					
			</div>
		</div>
</div>
<div id="footer-bg" >
	<div id="footer-content" >
		<div id="column1"  class="col-sm-6">
			<h2>Recommended Links</h2>
			<ul class="style1">
				<li class="first"><a href="http://www.sfgate.com/realestate/">SF Real Estate</a></li>
				<li><a href="http://www.car.org/">CA Association of Realtors</a></li>
				<li><a href="http://www.redfin.com">Redfin</a></li>
				<li><a href="http://www.trulia.com">Trulia</a></li>
				<li><a href="http://www.zillow.com">Zillow</a></li>
			</ul>
		</div>
		
		<div id="column2"  class="col-sm-6">
			<h2>Social Media</h2>
			<ul class="style1">
				<li class="first"><a href="#"><img src="/static/images/google-plus.png" alt="Google+" width="32"/></a></li>
				<li><a href="https://groups.google.com/d/forum/svcv-group" ><img src="/static/images/google-groups.png" alt="Google Group" width="32"/></a></li>
				<li><a href="https://facebook.com" ><img src="/static/images/facebook.png" alt="FaceBook" width="32"/></a></li>
				<li><a href="https://linkedin.com" ><img src="/static/images/linkedin.png" alt="LinkedIn" width="32"/></a></li>
				<li><a href="https://wechat.com" ><img src="/static/images/wechat-icon.jpg" alt="SVCV Group" width="32"/></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}