{% extends 'base.html' %}

{% block title %}Login Form{% endblock %}

{% block body_block %}

        <form class="form-container" id="login_form" method="post" action="/login/">
        	{% csrf_token %}
			<div class="form-title"><h2>Member Sign In</h2></div>
			<div class="form-title">Username</div>
			<input class="form-field" type="text" name="username" value="" size="50" />
			<br />
			
			<div class="form-title">Password</div>
			<input class="form-field" type="password" name="password" value="" size="50" />
			<br />
			<input type="checkbox" name="agreement" id="disclaimerBox" onclick ="onClickDisclaimerBox()">By clicking this box, I agree to the following disclaimer.
			<br />
			
			<script language="javascript">
				function onClickDisclaimerBox() {

					var btn = document.getElementById('loginBtn');
					var checked = document.getElementById('disclaimerBox').checked;
					var disclaimerFrame = document.getElementById('disclaimerFrame');
					
					if (checked)
						{// enabled the button
							btn.disabled = false;
							btn.setAttribute("class", "submit-button");
							disclaimerFrame.style.display = "none";
						}
					else
						{// disabled the button
							btn.disabled = true;
							btn.setAttribute("class", "submit-button-disabled");
							disclaimerFrame.style.display = "block";
						}
				}
			</script>
			
			<div class="submit-container">
				<input class="submit-button-disabled" id="loginBtn" type="submit" value="Submit" disabled />
			</div>
			<iframe src="/disclaimer.html" height="300px" width="800" id="disclaimerFrame">
			
			</iframe> 
		</form>
        
{% endblock %}
