{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block body_block %}
{% load humanize %}

{% if user.is_authenticated %}
	
	<form class="form-container" method="post" action="/savePassword/" onsubmit="return onsubmit()">
		<h2>Change Password: </h2>
		{% csrf_token %}
		<table>
          	  <tr>	          	
          	<td width="40%" class="form-title">
              	Old Password:
              </td>
          	<td width="60%" class="form-field">
              	<input type="password" name="oldPassword">
             </td>
          </tr>
          	  <tr>	          	
          	<td width="40%" class="form-title">
              	New Password:
              </td>
          	<td width="60%" class="form-field">
              	<input type="password" name="newPassword1">
             </td>
          </tr>
          	  <tr>	          	
          	<td width="40%" class="form-title">
              	Type New Password Again:
              </td>
          	<td width="60%" class="form-field">
              	<input type="password" name="newPassword2" >
             </td>
          </tr>
    	</table>
		<div class="submit-container">
   	      	<input class="submit-button" type="submit" name="submit" value="Change" />
		</div>
		
		<script language="javascript">
			function onsubmit()
			{
				alert("onsubmit(evt)");
				var newPassword1 = document.getElementByName("newPassword1");
				var newPassword2 = document.getElementByName("newPassword2");
				
				if (newPassword1 != newPassword1)
					{
						alert("New Passwords don't match!" + newPassword1);
						return false;
					}
				return true;
			}
		</script>
	</form>
{% endif %}
{% endblock %}