{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block body_block %}
{% load humanize %}

{% if user.is_authenticated %}
	<script language="javascript">
			function chkPassword()
			{
				var newPassword1 = document.getElementById("newPassword1").value;
				var newPassword2 = document.getElementById("newPassword2").value;
				alert("chkPassword() newPassword1="+newPassword1 + " newPassword2="+newPassword2);
				
				/***
					To check a password between 6 to 10 characters which contain only characters, numeric digits, 
					underscore and first character must be a letter
				**/
				var passw=  /^[A-Za-z]\w{5,7}$/; 
				
				if(!newPassword1.match(passw) || !newPassword1.match(passw))   
				{   
					alert("New Passwords don't match the minimum requirements!");
					return false;
				}
				alert("New Passwords match the minimum! p1==p2?" + (newPassword1 == newPassword2));
				
				if (newPassword1 != newPassword2)
				{
					alert("New Passwords don't match! Try again.");
					return false;
				}
				
				return true;
			}
			
			/***
				A password between 6 to 20 characters which contain at least one numeric digit, one uppercase and one lowercase letter
				var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;  
				
				A password between 7 to 15 characters which contain at least one numeric digit and a special character
				var paswd=  /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/;  
				
				A password between 8 to 15 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character
				var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;  
			***/
		</script>
		
	<form class="form-container" method="post" name="passwordForm" action="/savePassword/" >
		{% if error_msg != None %}
			<p style="font-size:18px; weight: bold;"><strong style="color:red;">Error</strong>: <font style="color:blue;font-size:14px;">{{error_msg}}</font></p>
		{% else %}
		<h2>Change Password: </h2>
		{% endif %}
		{% csrf_token %}
		<table>
          	  <tr>	          	
          	<td width="40%" class="form-title">
              	Old Password:
              </td>
          	<td width="60%" class="form-field">
              	<input type="password" name="oldPassword">
             </td>
          </tr>
          	  <tr>	          	
          	<td width="40%" class="form-title">
              	New Password:
              </td>
          	<td width="60%" class="form-field">
              	<input type="password" name="newPassword1" id="newPassword1">
             </td>
          </tr>
          	  <tr>	          	
          	<td width="40%" class="form-title">
              	Type New Password Again:
              </td>
          	<td width="60%" class="form-field">
              	<input type="password" name="newPassword2" id="newPassword2">
             </td>
          </tr>
    	</table>
		<div class="submit-container">
   	      	<input  class="submit-button" type="submit" name="submit" value="Update" onclick="return chkPassword();"/>/>
		</div>
		

	</form>
{% endif %}
{% endblock %}

		