	<h2>Completed Projects</h2>
	<ul class="style2">
		<li class="first"><a href="http://2341hilo.com/">2341 Hilo Ct, Mtn View, CA</a></li>
		<li ><a href="http://15107montalvo.com/">15107 Montalvo Rd, Saratoga, CA</a></li>
		<li><a href="https://www.redfin.com/CA/San-Francisco/3663-Folsom-St-94110/home/1784745#photoSlideShow">3663 Folsom St, San Francisco, CA 94110</a></li>
	</ul>
	<h2>Ongoing Projects</h2>
	<ul class="style2">
		<li class="first">563 Washington Ave, Sunnyvale, CA 94086 </li>
		<li><a href="https://www.redfin.com/CA/San-Francisco/3663-Folsom-St-94110/home/1784745#photoSlideShow">Athwood St, Redwood City, CA</a></li>
	</ul>
	<h2>Upcoming Projects</h2>
	<ul class="style2">
		<li class="first">Sacremento, CA</li>
		<li >Lincoln, Carmel By the Sea, CA</li>
	</ul>

	<p class="button-style"><a href="#">More Projects</a></p>