{% extends 'base.html' %}

{% block title %}SVCV Projects{% endblock %}

{% block body_block %}
{% load humanize %}

{% if user.is_authenticated %}
	<div class="table-responsive">    
        {% if user.is_staff or user.is_superuser %}
	        <h1>Projects <a href="/add_project">New</a> </h1>
	    {% else %}
	    	<h1>Projects</h1>
        {% endif %}
        {% if projects %}
        <table class="CSSTableGenerator table-hover ">
			<thead>
				<td>Project Name </td>
				<td>Description </td>
				<td>Status </td>
				<td>Company </td>
				<td>Vendor </td>
				<td>Start </td>
		        {% if user.is_staff or user.is_superuser %}
				<td>Expected End </td>
				<td>Allocation </td>
				<td><font color=green>Committed</font> </td>
				{% endif %}
			</thead>
            {% for project in projects %}
              <tr>
               	<td>
               		{% if project.Status_id == 'Completed' %}
                		<strike><a href='/edit_project/{{ project.ProjectId }}'>{{ project.ProjectId }}. {{ project.ProjectName }}</a></strike>
                	{% else  %}
                		<a href='/edit_project/{{ project.ProjectId }}'>{{ project.ProjectId }}. {{ project.ProjectName }}</a>
                	{% endif %} 
               		- 
               		{% if   user.is_staff or user.is_superuser %}
               			<a href='/projectInvestors?projectId={{ project.ProjectId }}'>Investors</a>
               		{% endif %}
               	</td>
                <td>{% if project.Status_id == 'Completed' %}
                		<strike>{{ project.DESCRIPTION }} </strike>
                	{% else  %}
                		{{ project.DESCRIPTION }}
                	{% endif %}
                	</td>
                <td>{% if project.Status_id == 'Completed' %}
                		<font color="green" ><strike> <strong>{{ project.Status_id }}</strong></strike>
                	{% elif project.Status_id == 'In Progress' %}
                		<font color="blue" > {{ project.Status_id }}
                	{% elif project.Status_id == 'Open' %}
                		<font color="Red" >{{ project.Status_id }}
                	{% else  %}
                		<font color="navy">{{ project.Status_id }}
                	{% endif %}
                	 	</font>
                </td>
                <td>
                	{% if project.Status_id == 'Completed' %}
                		<strike>{{ project.CompanyId }} </strike>
                	{% else  %}
                		{{ project.CompanyId }} 
                	{% endif %}
                </td>
                <td>{% if project.Status_id == 'Completed' %}
                		<strike>{{ project.VendorId }} </strike>
                	{% else  %}
                		{{ project.VendorId }}
                	{% endif %}
                </td>
                <td>{% if project.Status_id == 'Completed' %}
                		<strike>{{ project.StartDate }} </strike>
                	{% else  %}
                		{{ project.StartDate }}
                	{% endif %}
                </td>
		        {% if user.is_staff or user.is_superuser %}
	                <td>{% if project.Status_id == 'Completed' %}
	                		<strike>{{ project.EndDate }} </strike>
                	{% else  %}
                		{{ project.EndDate }}
                	{% endif %}
	                </td>
	                <td>{% if project.Status_id == 'Completed' %}
	                		<strike>${{ project.Allocation |intcomma}} </strike>
                	{% else  %}
                		${{ project.Allocation |intcomma}} 
                	{% endif %}
	                </td>
	                <td>{% if project.Status_id == 'Completed' %}
	                	<strike><strong><font color=green>${{ project.Committed|intcomma }}</font></strong> </strike>
                	{% else  %}
                		${{ project.Committed|intcomma }}
                	{% endif %}
	                </td>
                {% endif %}
                </tr>
              {% endfor %}
              
  			  {% if user.is_staff or user.is_superuser%}
				<tr>
					<td/>
					<td style="text-align: right;"> <b>Subtotal Outstanding Principal:</b> </td>
					<td/>
					<td/>
					<td/>
					<td/>
					<td/>
					<td style="text-align: center; color:red">  ${{total_principal|intcomma }} </td>
					<td/>
					
				</tr>
				<tr>
					<td/>
					<td style="text-align: right; color:green;"> <b>Subtotal Distribution:</b> </td>
					
					<td/>
					<td/>
					<td/>
					<td/>
					<td/>
					<td/>
					<td style="text-align: center;color:green"> ${{total_distribution|intcomma }}</td>
					
				</tr>
				<tr>
					<td/>
					<td style="text-align: right;color:blue">  <b> Overall Amount: ${{total_amount |intcomma }} </b></td>
					<td/>
					<td/>
					<td/>
					<td/>
					<td/>
					<td/>
					<td/>
					
				</tr>
				{% endif %}
           </table>
        {% else %}
            No project exists!
        {% endif %}
	</div>
{% else %}
<div class="form-title"><h2>Please authenticate first!</h2></div>
{% endif %}

{% endblock %}