{% extends 'base.html' %}

{% block title %}Personal Profile{% endblock %}

{% block body_block %}
{% load humanize %}

{% if user.is_authenticated %}
	{% if user.is_staff or user.is_superuser%}
		<h3>Select A Profile to View: </h3>
		
		<form  method="post" action="/profile/"><span>
			<select name="investorId" onchange="javascript: this.form.submit(); " role="form">
			  	<option >---</option>
			  	<option value="ALL">ALL</option>
				{% for userId in allUser_list %}
					{% if   userId.id|add:0 == investorId|add:0 %}
						<option value="{{ userId.id }}" selected="selected">{{ userId.first_name }} {{ userId.last_name }}</option>
					{% else %}
						<option value="{{ userId.id }}">{{ userId.first_name }} {{ userId.last_name }}</option>
					{% endif %}
				{% endfor %}
			</select> 
			<noscript><input type="submit" name="submit" value="View" ></noscript>
		</span></form>
		<hr />
		<h3>Profile for <font color=blue>{{ investorName}}</font> </h3>     	
	{% else %}
		<h3>Your Profile*</h3>
	{% endif %}
	
	
  	{%  if dbOperation == "Create" %}
       <form class="form-container" id="UserProfile_form" method="post" action="/save_UserProfile/" role="form">
    {% else %}
       <form class="form-container" id="UserProfile_form" method="post" action="/save_UserProfile/{{myUserId}}/" role="form">
    {% endif %}
	  {%  if dbOperation == "Create" %}
       	<div class="form-title"><h3>{{dbOperation}} A New Profile for {{investorName}}. (Investor ID is {{myUserId}}) :</h3></div>
      {% else %}
       	<div class="form-title"><h3>{{dbOperation}} {{investorName}}'s Profile (Investor ID is {{myUserId}}):</h3></div>
      {% endif %}
    	
		<div class="row">
			{% csrf_token %}
			<div class="col-sm-6 table-responsive">
				{% for set in fieldsetsPersonalInfo %}
					<fieldset {% if set.styleClass %}class="{{ set.styleClass }}">{% endif %}
					  <legend style="color:black">{{ set.legend }}</legend>
					  	<table>
					  	{% for field in set %}
					  		{%  if field.name == "UserId" %}
				          		<input  id="id_UserId" name="{{field.name}}" type="hidden" value="{{field.value}}" /> 
				          	{% else %}
						  		<tr>
								    <td width="10%">{{ field.errors }}</td>
								    <td width="15%" class="form-title">{{ field.help_text }}</td>
								    <td width="75%" class="form-field">{{ field }}</td>
						    	</tr>
						    {% endif %}
						{% endfor %}
					    </table>
					</fieldset>
				{% endfor %}
			</div>

			<div class="col-sm-6 table-responsive">
				<table>
					{% if user.id == myUserId  %}
					<tr>
						<td>
							<fieldset class="form_name_info">
							<legend style="color:black">Other Options</legend>
							<table>
								<tr><td>
								  <h4><a href="/changePassword/">Change Password</a></h4>
								</td></tr>
							</table>
							</fieldset>
						</td>
					</tr>
					{% endif %}
					<tr>
						<td> 
							{% for set in fieldsetsOthers %}
								<fieldset {% if set.styleClass %}class="{{ set.styleClass }}">{% endif %}
								  <legend style="color:black">{{ set.legend }}</legend>
								  	<table>
								  	{% for field in set %}
										{%  if   user.is_staff or user.is_superuser or field.name != "W9Ready" and field.name != "lastCommitmentDate" %}
									  		<tr>
											    <td width="10%">{{ field.errors }}</td>
											    <td width="15%" class="form-title">{{ field.help_text }}</td>
											    <td width="75%" class="form-field">{{ field }}</td>
									    	</tr>
							          	{% elif field.name == "lastCommitmentDate" %}
							          		<tr>
											    <td width="10%">{{ field.errors }}</td>
											    <td width="15%" class="form-title">{{ field.help_text }}</td>
											    <td width="75%" class="form-field"><input type="text" value="{{field.value}}" disabled/> </td>
									    	</tr>
							          	{% elif field.name == "W9Ready" %}
							          		<tr>
											    <td width="10%">{{ field.errors }}</td>
											    <td width="15%" class="form-title">{{ field.help_text }}</td>
											    <td width="75%" class="form-field"><input type="checkbox" value="{{field.value}}" disabled/> </td>
									    	</tr>
									    {% endif %}
									{% endfor %}
								    </table>
								</fieldset>
							{% endfor %}

						</td>
					</tr>
				</table>
				
			</div>
		</div>
		
		{% if false %}
		<table>
			<tr>
				<td  width="33%">
					{% for set in fieldsetsBank1 %}
						<fieldset {% if set.styleClass %}class="{{ set.styleClass }}">{% endif %}
						  <legend style="color:black">{{ set.legend }}</legend>
						  	<table>
						  	{% for field in set %}
						  		<tr>
								    <td width="10%">{{ field.errors }}</td>
								    <td width="15%" class="form-title">{{ field.help_text }}</td>
								    <td width="75%" class="form-field">{{ field }}</td>
						    	</tr>
							{% endfor %}
						    </table>
						</fieldset>
					{% endfor %}
				</td>
				<td  width="33%">
					{% for set in fieldsetsBank2 %}
						<fieldset {% if set.styleClass %}class="{{ set.styleClass }}">{% endif %}
						  <legend style="color:black">{{ set.legend }}</legend>
						  	<table>
						  	{% for field in set %}
						  		<tr>
								    <td width="10%">{{ field.errors }}</td>
								    <td width="15%" class="form-title">{{ field.help_text }}</td>
								    <td width="75%" class="form-field">{{ field }}</td>
						    	</tr>
							{% endfor %}
						    </table>
						</fieldset>
					{% endfor %}
				</td>
				<td  width="33%">
					{% for set in fieldsetsBank3 %}
						<fieldset {% if set.styleClass %}class="{{ set.styleClass }}">{% endif %}
						  <legend style="color:black">{{ set.legend }}</legend>
						  	<table>
						  	{% for field in set %}
						  		<tr>
								    <td width="10%">{{ field.errors }}</td>
								    <td width="15%" class="form-title">{{ field.help_text }}</td>
								    <td width="75%" class="form-field">{{ field }}</td>
						    	</tr>
							{% endfor %}
						    </table>
						</fieldset>
					{% endfor %}
				</td>
			</tr>
		</table>
		{% endif %}

		<div class="submit-container">
		   	{%  if dbOperation == 'Create' %}
            	<input class="submit-button" type="submit" name="submit" value="CREATE" />
	        {% else %}
            	<input class="submit-button"  type="submit" name="submit" value="UPDATE" />
	        {% endif %}		        
		</div>
	  	
      </form>		
{% else %}
	<div class="form-title"><h2>Please authenticate first!</h2></div>
{% endif %}

{% endblock %}