{% extends 'base.html' %}

{% block title %}South Flow Airplanes{% endblock %}

{% block body_block %}

	<!-- reference from https://scotch.io/tutorials/sort-and-filter-a-table-using-angular -->
	<!-- Include Date Range Picker as per http://www.daterangepicker.com/-->
	
	<H1>Daily Noisy Flights | <a href="/showRoutes">Daily Flight Path</a></H1>
	<div class="alert alert-info" ng-app="myFixedHeadApp" ng-controller="fixedHeadCtrl">
		{% verbatim %}
	    <p>Sort Type: {{ sortType }}</p>
	    <p>Sort Reverse: {{ sortReverse }}</p>
	    <form  class="form-container">
		    <div style="max-width:30%;">
		    	<p class="form-title">Search Query: {{ searchTo }}</p>
	    		<input type="text" class="form-control" placeholder="Search Destination" ng-model="searchTo" 
	    			size=60 class="form-field">
	    	</div>
	    </form>
	    {% endverbatim %}
	    
    	<table style="max-width: 80% !important;" class="CSSTableGenerator">
	  		<thead fix-head>
			  <tr>
			    <th>
			    	<a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
			    		Date
			    		<span ng-show="sortType == 'date'" ></span>
		          	</a>
		        </th>
			    <th>Flight No.</th>
			    <th>Model</th>
			    <th>
			    	<a href="#" ng-click="sortType = 'orig'; sortReverse = !sortReverse">
			    		From
			    		<span ng-show="sortType == 'orig'" ></span>
		          	</a>			    
			    </th>
			    <th>
			    	<a href="#" ng-click="sortType = 'dest'; sortReverse = !sortReverse">
			    		To
			    		<span ng-show="sortType == 'dest'" ></span>
		          	</a>
			    </th>
			    <th>Speed (kt)</th>
			    <th>Altitude (ft)</th>
			    <th>Comments</th>
			    <th>City</th>
			    <th>Neighborhood</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="flight in flights | orderBy:sortType:sortReverse  | filter:searchTo">
			  	{% verbatim %}
			    <td>{{flight.date}}</td>
			    <td>{{flight.Flight}}</td>
			    <td>{{flight.aircraft}}</td>
			    <td>{{flight.orig}}</td>
			    <td>{{flight.dest}}</td>
			    <td>{{flight.speed}}</td>
			    <td>{{flight.altitude}}</td>
			    <td>{{flight.comments}}</td>
			    <td>Sunnyvale</td>
			    <td></td>
			    {% endverbatim %} 
			  </tr>
			</tbody>
	  	</table>
	  	<div style="float: center;">
		<form action="/showBadPlanes/" method="post" class="form-container">
			{% csrf_token %}
			Pick a Date:
		  	<input type="text" name="datefilter" value="{{ request.session.BadPlanesDatefilter }} " size="20" class="form-field">
	 		<script type="text/javascript">
			$(function() {
			    $('input[name="datefilter"]').daterangepicker({
			        singleDatePicker: true,
			        showDropdowns: true,
			        locale: {
				          cancelLabel: 'Clear',
				          format: 'MM/DD/YYYY'
				      }
			    }, 
			    function(start, end, label) {
			        var years = moment().diff(start, 'years');
			    });
			});
			</script>
			

			<span>
 			
			<input type="submit" value="Filter">
			<input type="reset">
			</span>

		</form>
	  </div>  
  	</div>
	
	  
{% endblock %}
