{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
	Design by TEMPLATED
	http://templated.co
	Released for free under the Creative Commons Attribution License
	
	Name       : Save My Sunnyv Sky
	Description: 
	Version    : 1.0
	Released   : 20161106

-->
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--meta charset="utf-8">
    <meta name="description" content="Save My Sunny Sky">
    <meta name="author" content="S. Meng"-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes, width=device-width">

	<link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" media="all" />

	<!-- AngularJS inclusion >
    <script type="text/javascript" src="http://code.angularjs.org/1.3.9/angular.js"></script-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>	
	
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDEh9lkQ1wyrIVBU551v1yrVPkxOKWV3gQ" ></script> 
	<script type="text/javascript" src="{% static 'js/app.js' %}"> </script>
	<script type="text/javascript" src="{% static 'js/fixed-table-header.min.js' %}"> </script>
	
	
	<!-- Include Required Prerequisites -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
	 
	<!-- Include Date Range Picker as per http://www.daterangepicker.com/-->
	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  </head>

  <body>


      <!-- Page specific content goes here -->
	    <div>
	        {% block body_block %}{% endblock %}
	    </div>

  </body>
</html>
